@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.home{
    
    width: 100%;
    height: 100vh;
    background: url(./images/backgroundimage.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.mylogo{
    width: 90px;
}
.rightimage{
    width: 70%;
    margin-top: 5vh;
}
.logotext{
    font-weight: 600;
    margin-left: 10px;
}
#btn1{
    border-radius: 20px;
}
#c1{
    margin-top: 20px;
    padding: 30px 20px;
}
.text1{
    background-color: rgb(255, 213, 0);
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text2{
    font-weight: 900;
    font-size: 50px;
}
.icons ul{
    display: flex;
    margin-top: 20px;
    padding: 0;
}
.icons ul li{
   list-style: none;
   display: inline-block;
   margin-left: 10px;
   font-size: 30px;

  
}
h5{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;

}

.menutext{
    margin-top: 30px;
    font-size: 50px;
    color: rgb(43, 40, 40);
    
}
#menutext1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.menutext::after{
    display: block;
    background: rgb(255, 196, 0);
    content: ' ';
    width: 100%;
    height: 3px;
    transition: 300ms ease-in;
}
.menutext:hover:after{
    display: block;
    background: rgb(255, 196, 0);
    content: ' ';
    width: 100%;
    height: 6px;
    
}

.nav-link::after{
    display: block;
    background: rgb(255, 196, 0);
    content: ' ';
    width: 0%;
    height: 3px;
    transition: 400ms ease-in-out;
}
.nav-link:hover:after{
    display: block;
    background: rgb(255, 196, 0);
    content: ' ';
    width: 100%;
    height: 3px;
    
}
.collapse ul{
    margin-left: 20px;
}
.logobody{
    display: flex;
}
.g2{
    margin-left: 20px;
    align-items: center;
    justify-content: center;
    margin-top:10px;

}
/* .contact{
    position: relative;
} */
.c2{
    box-sizing: border-box;
    width: 60%;
    padding: 45px;
    border-radius: 0;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,0); */
}
#c3{
    box-sizing: border-box;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.col-md-7{
    padding: 20px;
}
.col-md-5{
    background-color: rgb(255, 179, 0);
    padding: 20px;
    color: white;
}
.form-control{
    /* height: 52px; */
    height: 52px; 
    background: #fff;
    color: #000;
    font-size: 14px;
    border-radius: 2px;
    box-sizing: none! important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.bi{
    font-size: 20px;
}
#ctext{
    font-size: 18px;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width:600px){
    .c2{
        width: 100%;
        /* position: absolute;
        left: 50%;
        top: 80%; */
    }
}
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
/* body {
	background: #fff;
	font-family: "Roboto", sans-serif;
} */

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.flex-center {
	align-items: center;
}
.accordion-button{
	margin-bottom: 10px;
}
.accordion-body {
	margin-top: 15px;
	padding: 25px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.circle-icon {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffe713;
    border: 5px solid #fff562;
	color: #fff;
	margin-left: -20px;
	margin-right: 10px;
	transform: scale(1.2);
}
.accordion-item{
	border: 0px!important;
}
.accordion-button:not(.collapsed){
	border: 0px!important;
	color: #000000;
    background-color: #ffffff;
    box-shadow: inset 0 0px 0 rgb(0 0 0 / 13%);
    transition: 200ms ease-out;
}

::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#ff9900,#ff9e0d);
    border-radius: 10px;
}

